<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" type="text/css " href="styles/AloSigortaci.css.css">


<head>
    <title>Alo Sigortacı</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" </head>

    <body>
        <div class="jumbotron">
            <!-- <h1>ALO Sigortacı <span class="glyphicon glyphicon-play" aria-hidden="true"></span></h1> -->
            <p>Yeni Bir Başlangıca Yolculukta Güvende Hissedin Diye...</p>
            <p class="yerten">Yılmaz ERTEN (Özel Sigortacınız)</p>
            <p>0 (533)-765-3618</p>
        </div>
        <!--Main Navbar Start-->
        <nav>
            <div class="logo">
                <h4>alo sİgortacı</h4>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="\index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bina</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown07">
                        <a class="dropdown-item" href="#">Konut</a>
                        <a class="dropdown-item" href="#">DASK</a>
                    </div>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Work</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>


            </div>
        </nav>

        <!--Main Navbar End-->

        <div class="container-fluid">
            <div class="row">
                <div class="card" style="width: 38rem;">
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <img class="card-img-top" src="C:\Users\z003vdbv\Desktop\BeginnerCode\Node.js\5-Lib\AloSigorta\Main.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Trafik</h5>
                            <p class="card-text">Kapsamlı trafik sigortamızla aracnıza hak ettiği korumayı sağlayın..</p>
                            <a href="C:\Users\z003vdbv\Desktop\BeginnerCode\Node.js\1-HTML\AloSigortaci\Trafik.html" class="btn btn-primary">Detay</a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 38rem;">
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <img class="card-img-top" src="C:\Users\z003vdbv\Desktop\BeginnerCode\Node.js\5-Lib\AloSigorta\Main2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Trafik</h5>
                            <p class="card-text">Kapsamlı trafik sigortamızla aracnıza hak ettiği korumayı sağlayın..</p>
                            <a href="C:\Users\z003vdbv\Desktop\BeginnerCode\Node.js\1-HTML\AloSigortaci\Trafik.html" class="btn btn-primary">Detay</a>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 38rem;">
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <img class="card-img-top" src="C:\Users\z003vdbv\Desktop\BeginnerCode\Node.js\5-Lib\AloSigorta\family3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Trafik</h5>
                            <p class="card-text">Kapsamlı trafik sigortamızla aracnıza hak ettiği korumayı sağlayın..</p>
                            <a href="C:\Users\z003vdbv\Desktop\BeginnerCode\Node.js\1-HTML\AloSigortaci\Trafik.html" class="btn btn-primary">Detay</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <script src="C:\Users\z003vdbv\Desktop\BeginnerCode\Node.js\3-JS\AloSigortaci\Index.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>

</html>