<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css " href="/static/polls/css/styles/index.css">


<head>
    <title>AloSigortacım || Bize Ulaşın</title>
</head>

<body>
    <!-- ========================
   HEADER
======================== -->

    <header>
        <div class="container">
            <div class="logo">
                <a href="#"><span>ALO</span>Sigortacım</a>
            </div>
            <div class="trigger-main">
                <a href="javascript:void(0);" class="ham-burger">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="/index" class="active">Anasayfa</a></li>
                    <li><a href="/about">Hakkımızda</a></li>
                    <li><a href="#insurance">Sigortalarımız</a></li>
                    <li><a href="#offers">Teklif İste</a></li>
                    <!-- <li><a href="#team">Team</a></li> -->
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contact">İletişim</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- ========================
HOME-CONTACT_US
======================== -->
    <section class="contact-home" id="home">
        <div class="container">
            <div class="home-text">
                <!-- <h1>Alo Sigortacım</h1>
                <h3>Benim Sigortacım</h3> -->
            </div>
        </div>
    </section>
    <!-- ========================
MAIN CONTACT AREA
======================== -->
    <section class="contactinfo">
        <div class="container">
            <h2 class="title">Bize Ulaşın</h2>
            <div class="contactinfo-content">
                <div class="card">
                    <i class="icon fas fa-envelope"></i>
                    <div class="card-content">
                        <h3>Email</h3>
                        <span>info@alosigortacim.com</span>
                    </div>
                </div>
                <div class="card">
                    <i class="icon fas fa-phone"></i>
                    <div class="card-content">
                        <h3>Telefon</h3>
                        <span>0 (533) 7653618</span>
                    </div>
                </div>
                <div class="card">
                    <i class="icon fas fa-map-marker-alt"></i>
                    <div class="card-content">
                        <h3>Adres</h3>
                        <span>Çankaya Mah. 154 Sk. No:38/4, Konak/İZMİR</span>
                        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4088.7246412252507!2d29.316380969712394!3d40.82428214977634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDQ5JzI0LjIiTiAyOcKwMTgnNTkuMCJF!5e0!3m2!1str!2str!4v1585358532979!5m2!1str!2str"
                            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
                    </div>
                </div>
            </div>
        </div>
    </section>











    <!-- <section class="contact-form">
        <div class="container">

            <h2 class="h1-responsive font-weight-bold text-center my-4">Bize Yazın</h2>
            <p class="text-center w-responsive mx-auto mb-5">Sorunuz mu var? Lütfen bize ulaşın. Ekibimiz mümkün olan en kısa sürede size geri dönecektir.</p>

            <div class="namelastname">
                <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                    <label for="name" class="">İsminiz</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Ad Soyad">

                    <label for="email" class="">Email</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="ornek@alosigortaci.com">

                    <label for="subject" class="">Konu</label>
                    <input type="text" id="subject" name="subject" class="form-control" placeholder="Başlık">

                    <label for="message">Mesajınız</label>
                    <textarea type="text" id="message" name="message" rows="4" class="form-control md-textarea" placeholder=""></textarea>
                </form>
                <div class="text-center text-md-left">
                    <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                </div>
                <div class="status"></div>

            </div>
    </section>
    <section class="contact-info">
        <div class="col text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Çankaya, İzmir 94126, TR</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>0 (533)-765-3618</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>info@alosigortacim.com</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="contact-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4088.7246412252507!2d29.316380969712394!3d40.82428214977634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDQ5JzI0LjIiTiAyOcKwMTgnNTkuMCJF!5e0!3m2!1str!2str!4v1585358532979!5m2!1str!2str"
            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </section>
    <section class="contact-feedback">
        <div id="box">
            <span>
                <i class="fas fa-check"></i>
            </span>
            <h1>Talebiniz alındı!</h1>
            <h1>24 Saat İçinde Size Geri Dönüş Sağlayacağız...</h1>
            <a onclick=" pop()" href="/index" class="close">Close</a>
        </div>
    </section> -->
    <!-- ========================
FOOTER
======================== -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="box">
                    <div class="icon">
                        <div class="website-name">

                            <h4>ALO SİGORTACIM</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere impedit molestiae velit sit nihil doloribus quod?</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <div class="footer-links">
                            <h4>Diğer Bağlantılar</h4>
                            <ul>
                                <li><a href="/about">Hakkımızda</a></li>
                                <li><a href="#">Anlaşmalı Şirketler</a></li>
                                <li><a href="/offers">Teklif İste</a></li>
                                <li><a href="/FAQ">Sıkça Sorulan Sorular</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <div class="footer-iletisim">
                            <h4>İletişim Bilgileri</h4>
                            <p>
                                24 Block D <br> Çankaya,İzmir <br> Türkiye <br>
                                <strong>Phone:</strong>+90 5337653618
                                <strong>Email:</strong>info@AloSigortacim.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <div class="footer-newsletter">
                            <h4>E-Bülten</h4>
                            <p>Paragraph</p>
                            <form action="" method="post">
                                <input type="email" name="email"><input type="submit" value="Abone Ol">
                            </form>
                        </div>
                        <div class="social-links">
                            <ul>
                                <li><a href=""><span class="fab fa-facebook"></span></a></li>
                                <li><a href=""><span class="fab fa-linkedin"></span></a></li>
                                <li><a href=""><span class="fab fa-skype"></span></a></li>
                                <li><a href=""><span class="fab fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-container">
                <div class="copyright">
                    &copy;Copyright<strong>ALO SİGORTACIM</strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by AloSigortacım A.Ş.
                </div>
            </div>
        </div>

    </footer>

</body>

</html>