<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Alo Sigortacım | DASK</title>
    <link rel="stylesheet" href="/static/polls/css/styles/index.css">

</head>

<body>
    <!-- ========================
   HEADER
======================== -->

    <header>
        <div class="container">
            <div class="logo">
                <a href="#"><span>ALO</span>Sigortacım</a>
            </div>
            <div class="trigger-main">
                <a href="javascript:void(0);" class="ham-burger">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="/index" class="active">Anasayfa</a></li>
                    <li><a href="/about">Hakkımızda</a></li>
                    <li><a href="#services">Sigortalarımız</a></li>
                    <li><a href="#skills">Teklif İste</a></li>
                    <!-- <li><a href="#team">Team</a></li> -->
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="/ContactUs">İletişim</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- ========================
   HOME-GAP
======================== -->
    <section class="home-gap">
        <div class="container">
            <!-- <h2 class="title">ALO SİGORTACIM</h2> -->
            <h3>Kapsayıcı sigortalarımızla size aracınızın hak ettiği sigortayı sunuyoruz</h2>
                <div class="home-gap-content">
                    <div class="card"></div>
                </div>
        </div>
    </section>
    <!-- ========================
   HOME
======================== -->
    <section class="dask">
        <div class="container">
            <div class="dask-text">
                <h1>Alo Sigortacım</h1>
            </div>
        </div>
    </section>
    <!-- ========================
TAB TRAFIK
======================== -->
    <section class="dask-tab">
        <div class="container">
            <h2 class="title">Yaşam Alanınız İçin</h2>
            <div class="tab-section">
                <div class="box">
                    <div class="select-tabs">
                        <ul>
                            <li id="tab-one" class="active">
                                <h4>DASK</h4>
                                <i class="fas fa-car"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="tab-one-content-box" class="hide active">
                            <h4>Doğal Afet Sigortası</h4>
                            <div class="img">
                                <img src="/static/polls/images/Crash.jpg" alt="me">
                            </div>
                            <div class="description">

                                <p>Zorunlu deprem sigortası olarak da bilinen DASK ile deprem ve deprem sonrası, yangın, infilak, tusunami ve yer kayması sonucu oluşacak riskleri doğal afet sigortaları kurumu olan (DASK) Tarafından teminat altına alınmaktadır.
                                </p>
                                <p>
                                    <button class="btn-bg" type="button">TEKLİF AL</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================
FOOTER
======================== -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="box">
                    <div class="icon">
                        <div class="website-name">

                            <h4>ALO SİGORTACIM</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere impedit molestiae velit sit nihil doloribus quod?</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <div class="footer-links">
                            <h4>Diğer Bağlantılar</h4>
                            <ul>
                                <li><a href="/about">Hakkımızda</a></li>
                                <li><a href="#">Anlaşmalı Şirketler</a></li>
                                <li><a href="/offers">Teklif İste</a></li>
                                <li><a href="/FAQ">Sıkça Sorulan Sorular</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <div class="footer-iletisim">
                            <h4>İletişim Bilgileri</h4>
                            <p>
                                24 Block D <br> Çankaya,İzmir <br> Türkiye <br>
                                <strong>Phone:</strong>+90 5337653618
                                <strong>Email:</strong>info@AloSigortacim.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <div class="footer-newsletter">
                            <h4>E-Bülten</h4>
                            <p>Paragraph</p>
                            <form action="" method="post">
                                <input type="email" name="email"><input type="submit" value="Abone Ol">
                            </form>
                        </div>
                        <div class="social-links">
                            <ul>
                                <li><a href=""><span class="fab fa-facebook"></span></a></li>
                                <li><a href=""><span class="fab fa-linkedin"></span></a></li>
                                <li><a href=""><span class="fab fa-skype"></span></a></li>
                                <li><a href=""><span class="fab fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-container">
                <div class="copyright">
                    &copy;Copyright<strong>ALO SİGORTACIM</strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by AloSigortacım A.Ş.
                </div>
            </div>
        </div>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            var bottom = $("header").outerHeight();
            var header = $("header").offset().top + bottom;

            $(window).scroll(function() {
                    if ($(window).width() > 991) {
                        if ($(window).scrollTop() >= header) {
                            $("header").addClass("sticky")
                        } else {
                            $("header").removeClass("sticky")
                        }
                    }
                })
                //navbar active link
            $(".navbar ul li a").click(function() {
                $(".navbar ul li a").removeClass("active")
                $(this).addClass("active");
            })
            $(".ham-burger").click(function() {
                $(this).toggleClass("active")
                $(".navbar").toggleClass("open");
            })
            $(".dask-tab .tab-section .box").on("click", "li", function() {
                var tabsId = $(this).attr("id");
                $(this).addClass("active").siblings().removeClass("active");
                $("#" + tabsId + "-content-box").addClass("active").siblings().removeClass("active");
            })
        })
    </script>
</body>

</html>