<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alo Sigortacım | Anasayfa</title>
    <link rel="stylesheet" href="/static/polls/css/styles/index.css">

</head>

<body>
    <!-- ========================
   HEADER
======================== -->

    <header>
        <div class="container">
            <div class="logo">
                <a href="#"><span>ALO</span>Sigortacım</a>
            </div>
            <div class="trigger-main">
                <a href="javascript:void(0);" class="ham-burger">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="/index" class="active">Anasayfa</a></li>
                    <li><a href="/about">Hakkımızda</a></li>
                    <li><a href="#insurance">Sigortalarımız</a></li>
                    <li><a href="/offer">Teklif İste</a></li>
                    <!-- <li><a href="#team">Team</a></li> -->
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="/ContactUs">İletişim</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- ========================
   HOME
======================== -->
    <section class="home" id="home">
        <div class="container">
            <div class="home-text">
                <h1>Alo Sigortacım</h1>
                <h3>Benim Sigortacım</h3>
            </div>
        </div>
    </section>
    <!-- ========================
   INFO
======================== -->
    <section class="info">
        <div class="container">
            <h2 class="title">Duyuru</h2>
            <blockquote class="blockquote">
                <p><i class="fas fa-quote-left"></i></p>
                <p class="blockquote_text">
                    Korona Günlerinde En Büyük Güvenceniz Evde Kalmanızdır.
                </p>
                <p class="blockquote_tag">
                    #HayatEveSigar
                </p>
                <!-- <p class="blockquote_credit">
                    - Yılmaz Erten
                </p> -->
            </blockquote>
        </div>
    </section>
    <!-- ========================
   INSURANCE
======================== -->
    <section class="insurance" id="insurance">
        <div class="container">
            <h2 class="title">Sİgortalarımız</h2>
            <div class="insurance-content">
                <div class="card">
                    <div class="box" id="height">
                        <a href="/trafik">
                            <h3>Motorlu Taşıtlarım</h3>
                        </a>
                        <h4></h4>
                        <img src="/static/polls/images/traffic.jpg" alt="insurance1">
                    </div>
                </div>
                <div class="card">
                    <div class="box" id="height">
                        <a href="/isyeri">
                            <h3>İşyerim</h3>
                        </a>
                        <h4></h4>
                        <img src="/static/polls/images/workspace.jpg" alt="insurance2">
                    </div>
                </div>
                <div class="card">
                    <div class="box" id="height">
                        <a href="/konut">
                            <h3>Evim</h3>
                        </a>
                        <h4></h4>
                        <img src="/static/polls/images/house3.jpg" alt="insurance3">
                    </div>
                </div>
                <div class="card">
                    <div class="box" id="height">
                        <a href="/dask">
                            <h3>DASK</h3>
                        </a>
                        <h4></h4>
                        <img src="/static/polls/images/house2.jpg" alt="insurance4">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <a href="/ferdi">
                            <h3>Ferdi Kaza</h3>
                        </a>
                        <h4></h4>
                        <img src="/static/polls/images/health2.jpg" alt="insurance5">
                    </div>
                </div>
                <div class="card">
                    <div class="box" id="height">
                        <a href="/saglik">
                            <h3>Sağlığım</h3>
                        </a>
                        <h4></h4>
                        <img src="/static/polls/images/family7.jpg" alt="insurance6">
                    </div>
                </div>
                <div class="card">
                    <div class="box" id="height">
                        <a href="/tarsim">
                            <h3>Mahsüllerim</h3>
                        </a>
                        <h4></h4>
                        <img src="/static/polls/images/harvest.jpg" alt="insurance7">
                    </div>
                </div>
                <div class="card">
                    <div class="box" id="height">
                        <a href="/diger">
                            <h3>Diğer Sigortalarım</h3>
                        </a>
                        <h4></h4>
                        <img src="/static/polls/images/yacht2.jpg" alt="insurance8">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================
OFFERS
======================== -->
    <section class="offers" id="offers">
        <div class="container">
            <h2 class="title">Teklİf İste</h2>
            <div class="offers-content">
                <div class="card">
                    <div class="box">
                        <div class="icon">
                            <span class="fas fa-mobile-alt"></span>
                        </div>
                        <a href="/offer">
                            <h3>Telefon</h3>
                        </a>
                        <p>Bizi Arayın! Size En Uygun Teklifi Birlikte Bulalım.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <div class="icon">
                            <span class="far fa-envelope"></span>
                        </div>
                        <a href="/offer">
                            <h3>E-mail</h3>
                        </a>
                        <p>İstediğiniz Sigorta Türüne Ait Bilgileri Bizimle Paylaşın, Biz de Teklifimizi Sizinle Paylaşalım
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <div class="icon">
                            <span class="fab fa-whatsapp"></span>
                        </div>
                        <a href="/offer">
                            <h3>Whatsapp</h3>
                        </a>
                        <p>Sadece Gerekli Belgelerin Fotoğrafını Göndermeniz Yeterlidir</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================
TEAMS
======================== -->
    <!-- <section class="team" id="team">
        <div class="container">
            <h2 class="title">Team</h2>
            <div class="team-content">
                <div class="card">
                    <div class="box">
                        <img src="/static/polls/images/person.jpg" alt="team">
                        <h3>Vedat Akpınar</h3>
                        <h4>Web Developer</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="/static/polls/images/person.jpg" alt="team">
                        <h3>Berkay Akpınar</h3>
                        <h4>Designer</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="/static/polls/images/person.jpg" alt="team">
                        <h3>Vedat Erten</h3>
                        <h4>Developer</h4>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ========================
BLOG
======================== -->
    <section class="blog" id="blog">
        <div class="container">
            <h2 class="title">Faydalı Yazılar</h2>
            <div class="blog-content">
                <div class="card">
                    <div class="box">
                        <img src="/static/polls/images/yacht.jpg" alt="blog">
                        <h4>Mayıs, 01,2020</h4>
                        <h3>Trafik Sigortası Ve Kasko Arasındaki Fark Nedir?</h3>
                        <p>En çok karşılaştığımız sorulardan biri de "Kasko yaptırdım, trafik sigortası yaptırmasam olmaz mı?" şeklinde. Maalesef!, İkisid Kara taşıtları sigortası ama ayrı şeyler. Şöyle ki; trafik sigortası 3. Şahıslara verilecek maddi ve
                            bedeni zararları, poliçede yazılı veya yürürlükte geçerli olan en son limitlere kadar, sizin adınıza kusur oranına göre ödeme yapmaktadır. Örneğin; kaza sonucu karşı taraftaki araçta bir kişi vefat etmiş olsa, onunda bakmakla
                            yükümlü olduğu eşi ve çocukları varsa, onlar için mahkeme kusurlu tarafı 500.000.- TL tazminat ödemeye mahkum ettiği zaman, kusurlu tarafın sigortası bu rakamı karşı tarafa öder. Poliçe yoksa, sürücünün maddi imkanı da yoksa,
                            destekten yoksun kalan eş ve çocukların hali nice olur. Yaşamı devam ettirmek, eğitim, hayata hazırlık, çok zor, zorunda zoru olmakta, işte zorunlu olan trafik sigortası bizleri 3. Şahıslara verilecek maddi ve bedeni zararlara
                            karşı korumaktadır. KASKO ise, Kendi aracımızı; Bir çok risklere karşı güvence altına almaktadır. Bu poliçenin içinde de, i.m.m(ihtiyari Mali mesuliyet) vardır, trafik sigortası limitlerinin yetersiz kaldığı durumlarda bu teminat
                            devreye girer, rücu eden tazminatı buradan karşılar. Bu limitleri kasko ile birlikte yüksek yaptırmakta fayda vardır. Alo sigortacınız olarak, Kazasız keyifli sürüşler dileriz, biz yine de tedbirimizi alalım.</p>
                        <p><button type="button" class="btn-bg">Detay</button></p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="/static/polls/images/house1.jpg" alt="blog">
                        <h4>Nisan 30,2020</h4>
                        <h3>DASK/Deprem sigortası evdeki hasarlarımı öder mi?</h3>
                        <p>Sadece binadaki deprem ve depremden kaynaklı, yangın ve yer kayması gibi olaylardan meydana gelen hasarları poliçede belirtilen limitlere kadar ödeme yapar. Oda Bayındırlık bitim fiyatları üzerinden öder. Eşyalarda ve ev halkında
                            meydana gelen maddi ve bedeni zararlar ödenmez. Bunun için ayrıca eşyaları deprem ve diğer teminatlara karşı bina ile birlikte sigortalamak gerekmektedir. Pekiiii! araba sigortası gibi ev sigortası da yüksek midir?, Hayır,
                            araçlar trafikte oldukları zaman kaza riski yüksektir. Konutlarda hasar oranı çok düşük olduğundan, düşündüğünüzden çok daha ucuza sigortalanmaktadır.</p>
                        <p><button type="button" class="btn-bg">Detay</button></p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="/static/polls/images/apt.jpg" alt="blog">
                        <h4>Jun 16,2019</h4>
                        <h3>What is JavaScript ?</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus officiis repellat amet reiciendis delectus. Saepe officiis unde, corrupti repellendus ratione praesentium alias blanditiis perspiciatis odit nobis? Dicta nostrum
                            soluta suscipit?</p>
                        <p><button type="button" class="btn-bg">Detay</button></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========================
CONTACT US
======================== -->
    <section class="contact" id="contact">
        <div class="container">
            <h2 class="title">Bize Yazın</h2>
            <div class="contact-content">
                <form action="">
                    <input type="text" placeholder="İsim Soyisim">
                    <input type="text" placeholder="Email">
                    <input type="text" placeholder="Konu">
                    <textarea placeholder="Mesajınız"></textarea>
                    <button class="btn-light">Gönder</button>
                </form>
            </div>
        </div>
    </section>
    <!-- ========================
CAROUSEL
======================== -->
    <!-- <section class="carousel">
        <div class="container">
            <h2 class="title">Anlaşmalı Şirketler</h2>
            <div class="carousel-content">
                <div class="card">
                    <div class="box">
                        <div class="slider">
                            <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav" />
                            <input type="radio" name="slider" title="slide2" class="slider__nav" />
                            <input type="radio" name="slider" title="slide3" class="slider__nav" />
                            <div class="slider__inner">
                                <div class="slider__contents"><i class="slider__image fa fa-codepen"></i>
                                    <h2 class="slider__caption">codepen</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-newspaper-o"></i>
                                    <h2 class="slider__caption">newspaper-o</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-television"></i>
                                    <h2 class="slider__caption">television</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond1</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond2</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond3</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond4</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond5</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond6</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond7</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond8</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond9</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond10</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond11</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond12</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond13</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond13</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond14</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond15</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond17</h2>
                                </div>
                                <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
                                    <h2 class="slider__caption">diamond18</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section> -->
    <!-- <div class="slider">
        <div class="slider__inner">
            <div class="slider__item">
                <div class="slider__item-container">
                    <img src="1.jpg" class="slider__item-img" />
                    <div class="slider__item-datas">
                        <span>Description 1</span>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item-container">
                    <img src="2.jpg" class="slider__item-img" />
                    <div class="slider__item-datas">
                        <span>Description 2</span>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item-container">
                    <img src="3.jpg" class="slider__item-img" />
                    <div class="slider__item-datas">
                        <span>Description 3</span>
                    </div>
                </div>
            </div> 
            <div class="slider__controls"></div>
        </div>
    </div>-->
    <!-- ========================
FOOTER
======================== -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="box">
                    <div class="icon">
                        <div class="website-name">

                            <h4>ALO SİGORTACIM</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere impedit molestiae velit sit nihil doloribus quod?</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <div class="footer-links">
                            <h4>Diğer Bağlantılar</h4>
                            <ul>
                                <li><a href="/about">Hakkımızda</a></li>
                                <li><a href="#">Anlaşmalı Şirketler</a></li>
                                <li><a href="/offer">Teklif İste</a></li>
                                <li><a href="/FAQ">Sıkça Sorulan Sorular</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <div class="footer-iletisim">
                            <h4>İletişim Bilgileri</h4>
                            <p>
                                Çankaya Mah. 154 Sk. No:38/4<br> Konak/İZMİR <br> Türkiye <br>
                                <strong>Phone:</strong><br>+90 5337653618<br>
                                <strong>Email:</strong><br>info@AloSigortacim.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icon">
                        <div class="footer-newsletter">
                            <h4>E-Bülten</h4>
                            <p>Paragraph</p>
                            <form action="" method="post">
                                <input type="email" name="email"><input type="submit" value="Abone Ol">
                            </form>
                        </div>
                        <div class="social-links">
                            <ul>
                                <li><a href=""><span class="fab fa-facebook"></span></a></li>
                                <li><a href=""><span class="fab fa-linkedin"></span></a></li>
                                <li><a href=""><span class="fab fa-skype"></span></a></li>
                                <li><a href=""><span class="fab fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-container">
                <div class="copyright">
                    &copy;Copyright<strong>ALO SİGORTACIM</strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by AloSigortacım A.Ş.
                </div>
            </div>
        </div>

    </footer>
    <!-- ========================
SOCIAL LINKS
======================== -->
    <!-- <section class="socials">
        <div class="container">
            <div class="socials-content">
                <div class="card">
                    <div class="box">
                        <div class="icon-bar">
                            <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="google"><i class="fab fa-google"></i></a>
                            <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
                            <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ========================
SCRIPTs
======================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            var bottom = $("header").outerHeight();
            var header = $("header").offset().top + bottom;

            $(window).scroll(function() {
                    if ($(window).width() > 991) {
                        if ($(window).scrollTop() >= header) {
                            $("header").addClass("sticky")
                        } else {
                            $("header").removeClass("sticky")
                        }
                    }
                })
                //navbar active link
            $(".navbar ul li a").click(function() {
                $(".navbar ul li a").removeClass("active")
                $(this).addClass("active");
            })
            $(".ham-burger").click(function() {
                $(this).toggleClass("active")
                $(".navbar").toggleClass("open");
            })
        })
    </script>

</body>

</html>