<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css " href="/static/polls/css/styles/navbar.css">
<link rel="stylesheet" type="text/css " href="/static/polls/css/styles/loader.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loaders</title>
</head>

<body>
    <div class="ring">
        yÜklenİyor
        <!-- Spinner -->
        <span></span>
    </div>

    </div>

</body>

</html>