<!DOCTYPE html>
<html lang="en">

<script src="https://code.jquery.com/jquery-3..41.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://kit.fontawesome.com/2bb0468abd.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css " href="/static/polls/css/styles/style.css">
<link rel="stylesheet" type="text/css " href="/static/polls/css/styles/sarita.css">
<link rel="stylesheet" type="text/css " href="/static/polls/css/styles/footer.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/static/polls/js/navbar.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- ======NAVBARR====== -->
    <!-- <header>
        <div class="logo">
            <img src="/static/polls/images/firmlogos/aksigorta.png">
        </div>
        <nav>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="#" class="sub-menu">Sigortalarımız</a>
                    <ul>
                        <li><a href="#">Motorlu Taşıtlarınız</a></li>
                        <ul>
                            <li><a href="#">Trafik</a></li>
                            <li><a href="#">Kasko</a></li>
                        </ul>
                        <li><a href="#">Bina</a></li>
                        <li><a href="#">Zorunlu Deprem</a></li>
                        <li><a href="#">Sağlığınızı Koruyun</a></li>
                        <li><a href="#">Mesleki ve Ticari</a></li>
                    </ul>
                </li>
                <li><a href="#" class="sub-menu">Teklif İste</a>
                    <ul>
                        <li><a href="#">Telefon</a></li>
                        <li><a href="#">WhatsApp</a></li>
                        <li><a href="#">Email</a></li>
                    </ul>
                </li>
                <li><a href="/about">Hakkımızda</a></li>
                <li><a href="/ContactUs">İletişim</a></li>
            </ul>
        </nav>
        <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
    </header> -->
    <header>
        <div class="container">
            <div class="logo">
                <a href="#"><span>S</span>arita</a>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="#home" class="active">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- <div class="getAquote">
        <section style="background-image: url(/static/polls/images/family2.jpg/);">
            <div class="container">
                <div class="inner">
                    <div class="ada"></div>
                    <h2><span>Merhaba, ben ADA</span>Sana saniyeler içinde harika bir teklif vereceğim.
                    </h2>
                    <button>Teklif Al</button>
                </div>
            </div>
        </section>
    </div> -->


    <!-- =========COVER PHOTO======= -->
    <div class="header-image ">
        <div class="container ">
            <h1><span>alo sİgortacım</span></h1>
            <span class="des ">Sİgorta // Broker Hİzmetlerİ</span>
        </div>
    </div>
    <!-- ----Service2-----TODO:-->
    <div class="container">
        <div class="box ">
            <div class="content">
                <h2>01</h2>
                <h3>Service One</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor hic et autem fugit saepe, libero inventore aliquam possimus necessitatibus placeat ex veniam doloremque ad laborum minima voluptate. Laborum, in?</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>02</h2>
                <h3>Service Two</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor hic et autem fugit saepe, libero inventore aliquam possimus necessitatibus placeat ex veniam doloremque ad laborum minima voluptate. Laborum, in?</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>03</h2>
                <h3>Service Three</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor hic et autem fugit saepe, libero inventore aliquam possimus necessitatibus placeat ex veniam doloremque ad laborum minima voluptate. Laborum, in?</p>
                <a href="#">Read More</a>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h2>04</h2>
                <h3>Service Four</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolor hic et autem fugit saepe, libero inventore aliquam possimus necessitatibus placeat ex veniam doloremque ad laborum minima voluptate. Laborum, in?</p>
                <a href="#">Read More</a>
            </div>
        </div>
    </div>
    </section>
    <!-- Testimonies FIXME:-->
    <div class="testimonial-section ">
        <div class="inner-width ">
            <h1>Sizden Gelenler</h1>
            <div class="border "></div>
            <div class="slides owl-carousel ">
                <div class="testimonial ">
                    <div class="test-info ">
                        <img class="test-pic " src="/static/polls/images/firmlogos/aksigorta.png " alt=" ">
                        <div class="test-name ">
                            <span>Client1</span> @client1
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore facilis consequatur ullam, id illum molestiae culpa sint voluptate unde? Fuga dolor possimus optio enim architecto suscipit, sit similique est! Libero.

                    </p>
                </div>

                <div class="testimonial ">
                    <div class="test-info ">
                        <img class="test-pic " src="/static/polls/images/firmlogos/anadolusigorta.png " alt=" ">
                        <div class="test-name ">
                            <span>Client2</span> @client2
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore facilis consequatur ullam, id illum molestiae culpa sint voluptate unde? Fuga dolor possimus optio enim architecto suscipit, sit similique est! Libero.

                    </p>
                </div>

                <div class="testimonial ">
                    <div class="test-info ">
                        <img class="test-pic " src="/static/polls/images/firmlogos/axa.png " alt=" ">
                        <div class="test-name ">
                            <span>Client3</span> @client3
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore facilis consequatur ullam, id illum molestiae culpa sint voluptate unde? Fuga dolor possimus optio enim architecto suscipit, sit similique est! Libero.

                    </p>
                </div>

            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 footer-info">
                        <h3>Website Name</h3>
                        <p>Paragraph</p>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="/about">Hakkımızda</a></li>
                            <li><a href="#">Anlaşmalı Şirketler</a></li>
                            <li><a href="#">Teklif İste</a></li>
                            <li><a href="/FAQ">Sıkça Sorulan Sorular</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact US</h4>
                        <p>
                            24 Block D <br> Çankaya,İzmir <br> Türkiye <br>
                            <strong>Phone:</strong>+90 5337653618
                            <strong>Email:</strong>info@AloSigortaci.com
                        </p>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Paragraph</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subcribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                &copy; Copyright<strong>ALO SİGORTACI</strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by AloSigortaci A.Ş.
            </div>
        </div>
    </footer>


    <script type="text/javascript">
        $(document).ready(function() {
            $('.menu-toggle').click(function() {
                $('nav').toggleClass('active')
            })
            $('ul li').click(function() {
                $(this).siblings().removeClass('active');
                $(this).toggleClass('active');
            })
        })
    </script>

    <script>
        $(document).ready(function() {

            $(window).scroll(function() {

                if ($(window).scrollTop() > 300) {
                    $('nav').addClass('red');
                } else {
                    $('nav').removeClass('red');
                }

            });

        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var bottom = $("header").outerHeight();
            var header = $("header").offset().top + bottom;

            $(window).scroll(function() {
                    if ($(window).scrollTop() >= header) {
                        $("header").addClass("sticky")
                    } else {
                        $("header").removeClass("sticky")
                    }
                })
                //navbar active link
            $(".navbar ul li a").click(function() {
                $(".navbar ul li a").removeClass("active")
                $(this).addClass("active");
            })
        })
    </script>
</body>

</html>